{
  "installed": {
    "client_id": "YOUR_CLIENT_ID",
    "auth_uri": "https://zoom.us/oauth/authorize",
    "token_uri": "https://zoom.us/oauth/token",
    "client_secret": "YOUR_CLIENT_SECRET",
    "redirect_uris": [
      "http://localhost:8080/"
    ]
  }
}